body {
  background-color: #333;
  color: #fff;
  height: 100vh;
  margin: 0;
}
.container {
  width: 100%;
  text-align: center;
}
.child-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  cursor: pointer;
}
.third-container {
  background-color: #fff;
  color: #333;
  padding: 2rem;
  margin: 1rem;
  border-radius: .5rem;
  border: 1px solid red;
}
